<div class="row">
    <div class="col-sm-12">
        <div class="content-header text-left">نرم افزار متن</div>
    </div>
</div>
<!-- Contextual colors -->
<section id="contextual-colors" class="card text-left">
    <div class="card-header">
        <h4 class="card-title">رنگ متنی</h4>
        <p>معنی را از طریق رنگ با تعداد انگشت شماری از کلاسهای ابزارهای تأکید انتقال دهید. این نیز ممکن است به لینک ها اعمال شود و در حوادث مشابه همانند سبک های پیشفرض پیش فرض تیره خواهد شد.</p>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>مثال</th>
                            <th>کلاس</th>
                            <th>کد</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="text-muted">متون تستی فارسی به منظور بررسی استایل سایت کریپتومارت.</p>
                            </td>
                            <td><code>.text-muted</code></td>
                            <td>
                                <pre class="language-markup"><code> &lt;p class="text-muted"&gt;Your Text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-primary">متون تستی فارسی به منظور بررسی استایل سایت کریپتومارت.</p>
                            </td>
                            <td><code>.text-primary</code></td>
                            <td>
                                <pre class="language-markup"><code> &lt;p class="text-primary"&gt;Your Text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-success">متون تستی فارسی به منظور بررسی استایل سایت کریپتومارت.</p>
                            </td>
                            <td><code>.text-success</code></td>
                            <td>
                                <pre class="language-markup"><code> &lt;p class="text-success"&gt;Your Text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-info">متون تستی فارسی به منظور بررسی استایل سایت کریپتومارت.</p>
                            </td>
                            <td><code>.text-info</code></td>
                            <td>
                                <pre class="language-markup"><code> &lt;p class="text-info"&gt;Your Text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-warning">متون تستی فارسی به منظور بررسی استایل سایت کریپتومارت.</p>
                            </td>
                            <td><code>.text-warning</code></td>
                            <td>
                                <pre class="language-markup"><code> &lt;p class="text-warning"&gt;Your Text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-danger">متون تستی فارسی به منظور بررسی استایل سایت کریپتومارت.</p>
                            </td>
                            <td><code>.text-danger</code></td>
                            <td>
                                <pre class="language-markup"><code> &lt;p class="text-danger"&gt;Your Text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!--/ Contextual colors -->

<!-- Contextual background -->
<section id="contextual-background" class="card text-left">
    <div class="card-header">
        <h4 class="card-title">پس زمینه متنی</h4>
        <p>کلاس های متنی، به راحتی پس زمینه یک عنصر را به هر کلاس متنی تنظیم می کند. اجزاء لنگر در حوادث تار می کنند، درست مانند کلاس های متن.</p>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>مثال</th>
                            <th>کلاس</th>
                            <th>کد</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="bg-primary text-highlight white">متون تستی فارسی به منظور بررسی استایل سایت کریپتومارت.</span>
                            </td>
                            <td><code>.bg-primary</code></td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="bg-primary"&gt;Your Text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="bg-success text-highlight white">متون تستی فارسی به منظور بررسی استایل سایت کریپتومارت.</span>
                            </td>
                            <td><code>.bg-success</code></td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="bg-success"&gt;Your Text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="bg-info text-highlight white">متون تستی فارسی به منظور بررسی استایل سایت کریپتومارت.</span>
                            </td>
                            <td><code>.bg-info</code></td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="bg-info"&gt;Your Text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="bg-warning text-highlight white">متون تستی فارسی به منظور بررسی استایل سایت کریپتومارت.</span>
                            </td>
                            <td><code>.bg-warning</code></td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="bg-warning"&gt;Your Text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="bg-danger text-highlight white">متون تستی فارسی به منظور بررسی استایل سایت کریپتومارت.</span>
                            </td>
                            <td><code>.bg-danger</code></td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="bg-danger"&gt;Your Text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--/ Contextual background -->

<!-- Text alignment -->
<section id="text-alignment" class="card text-left">
    <div class="card-header">
        <h4 class="card-title">تراز متن</h4>
        <p>به راحتی متن را به اجزای با کلاس های هم ترازی متن اصلاح کنید.</p>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table mb-0 table-responsive">
                    <thead>
                        <tr>
                            <th>مثال</th>
                            <th>کلاس</th>
                            <th>کد</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="text-justify">
                                        متون تستی فارسی به منظور بررسی استایل سایت کریپتومارت.
                                </p>
                            </td>
                            <td><code>.text-justify</code></td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="text-justify"&gt;Justified text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-nowrap">متون تستی فارسی به منظور بررسی استایل سایت کریپتومارت.</p>
                            </td>
                            <td><code>.text-nowrap</code></td>
                            <td>
                                <pre class="language-markup"><code class="language-markup">&lt;p class="text-nowrap"&gt;No wrap text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div class="card-text">
                <p>
                        برای چپ، راست و هماهنگی مرکز، کلاس های پاسخگو در دسترس هستند که با استفاده از همان نقاط بازپرداخت عرض نمایش به عنوان سیستم شبکه استفاده می شود.
                </p>
            </div>
            <div class="table-responsive">
                <table class="table table-white-space no-wrap table-middle mb-0">
                    <thead>
                        <tr>
                            <th>مثال</th>
                            <th>کلاس</th>
                            <th>کد</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="text-left">متن تراز چپ در تمام اندازه های نمای دید.</p>
                            </td>
                            <td><code>.text-left</code></td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="text-left"&gt;Left aligned text on all viewport sizes.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-center">متن تراز متن در تمام اندازه های نمایش پرونده.</p>
                            </td>
                            <td><code>.text-center</code></td>
                            <td>
                                <pre class="language-markup"><code class="language-markup">&lt;p class="text-center"&gt;Center aligned text on all viewport sizes.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-right">متن راست راست در تمام اندازه های دید.</p>
                            </td>
                            <td><code>.text-right</code></td>
                            <td>
                                <pre class="language-markup"><code class="language-markup">&lt;p class="text-right"&gt;Right aligned text on all viewport sizes.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--/ Text alignment -->

<!-- Text transform -->
<section id="text-transform" class="card text-left">
    <div class="card-header">
        <h4 class="card-title">تبدیل متن</h4>
        <p>تبدیل متن در اجزای با کلاس های سرمایه گذاری متن.</p>
        <p>توجه داشته باشید که چگونه <code class="highlighter-rouge">text-capitalize</code> تنها حرف اول هر کلمه را تغییر می دهد، و حروف هر نامه دیگر را تحت تاثیر قرار نمی دهد.</p>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>مثال</th>
                            <th>کلاس</th>
                            <th>کد</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="text-lowercase">متن پایین تر</p>
                            </td>
                            <td><code>.text-lowercase</code></td>
                            <td>
                                <pre class="language-markup"><code>&lt;p class="text-lowercase"&gt;Lowercased text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-uppercase">متن بزرگتر</p>
                            </td>
                            <td><code>.text-uppercase</code></td>
                            <td>
                                <pre class="language-markup"><code class="language-markup">&lt;p class="text-uppercase"&gt;Uppercased text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-capitalize">متن CapiTaliZed</p>
                            </td>
                            <td><code>.text-capitalize</code></td>
                            <td>
                                <pre class="language-markup"><code class="language-markup">&lt;p class="text-capitalize"&gt;CapiTaliZed text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--/ Text transform -->

<!-- Text option -->
<section id="text-option" class="card text-left">
    <div class="card-header">
        <h4 class="card-title">گزینه متن</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="card-text">
                <h5 class="text-bold-600 mb-1">سایز فونت</h5>
                <p>Admin Apex ارائه فونت کلاس های بزرگ و کوچک برای کلاس تغییر اندازه فونت.</p>
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>مثال</th>
                            <th>کلاس</th>
                            <th>کد</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="font-large-3">اندازه متن بزرگ</p>
                            </td>
                            <td>
                                <code>.font-large-3</code>
                            </td>
                            <td>
                            <pre class="language-markup"><code>    &lt;p class="font-large-3" &gt;Large text size.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="font-large-2">اندازه متن بزرگ</p>
                            </td>
                            <td>
                                <code>.font-large-2</code>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="font-large-2" &gt;Large text size.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="font-large-1">اندازه متن بزرگ</p>
                            </td>
                            <td>
                                <code>.font-large-1</code>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="font-large-1" &gt;Large text size.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="font-medium-3">اندازه متن متوسط</p>
                            </td>
                            <td>
                                <code>.font-medium-3</code>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="font-medium-3" &gt;Medium text size.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="font-medium-2">اندازه متن متوسط</p>
                            </td>
                            <td>
                                <code>.font-medium-2</code>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="font-medium-2" &gt;Medium text size.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="font-medium-1">اندازه متن متوسط</p>
                            </td>
                            <td>
                                <code>.font-medium-1</code>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="font-medium-1" &gt;Medium text size.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>اندازه متن پایه عادی</p>
                            </td>
                            <td>
                                N/A
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt;Normal base text size.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="font-small-3">اندازه کوچک متن</p>
                            </td>
                            <td>
                                <code>.font-small-3</code>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="font-small-3" &gt;Small text size.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="font-small-2">اندازه کوچک متن</p>
                            </td>
                            <td>
                                <code>.font-small-2</code>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="font-small-2" &gt;Small text size.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="font-small-1">اندازه کوچک متن</p>
                            </td>
                            <td>
                                <code>.font-small-1</code>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="font-small-1" &gt;Small text size.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-text">
                <h5 class="text-bold-600 my-1">وزن قلم</h5>
                <p>Admin Apex کلاس وزن فونت را ارائه می دهد <code>.text-bold-&#123;weight&#125;</code>, where <code>&#123;weight&#125; value can be 100,200 ... 900.</code></p>
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>مثال</th>
                            <th>کلاس</th>
                            <th>کد</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="text-bold-300">وزن قلم 300</p>
                            </td>
                            <td><code>.text-bold-300</code></td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="text-bold-300"&gt;Font weight 300.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-bold-400">وزن قلم 400</p>
                            </td>
                            <td><code>.text-bold-400</code></td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="text-bold-400"&gt;Font weight 400.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-bold-600">وزن قلم 600</p>
                            </td>
                            <td><code>.text-bold-600</code></td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="text-bold-600"&gt;Font weight 600.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text-bold-700">وزن قلم 700</p>
                            </td>
                            <td><code>.text-bold-700</code></td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p class="text-bold-700"&gt;Font weight 700.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-text">
                <h4 class="text-bold-600 my-1">عناصر متن درونی</h4>
                <p>یک ظاهر طراحی شده برای عناصر HTML5 معمولی درون خطی.</p>
                <p><code class="highlighter-rouge">.mark</code> و <code class="highlighter-rouge">.small</code> 
                    کلاس ها نیز برای استفاده از سبک های مشابه در دسترس هستند
                    <code class="highlighter-rouge">&lt;mark&gt;</code> و
                    <code
                        class="highlighter-rouge">&lt;small&gt;</code>در حالی که اجتناب از مفاهیم معنایی ناخواسته که برچسب ها را به ارمغان می آورد.</p>
                <p class="">در حالی که در بالا نشان داده نمی شود، برای استفاده راحت باشید <code class="highlighter-rouge">&lt;b&gt;</code> و <code class="highlighter-rouge">&lt;i&gt;</code>                    in HTML5. <code class="highlighter-rouge">&lt;b&gt;</code> 
                    به معنای برجسته کردن واژه ها یا عبارات بدون انتقال اهمیت اضافی در حالی است که
                    <code class="highlighter-rouge">&lt;i&gt;</code> عمدتا برای صدا، اصطلاحات فنی و غیره است</p>
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>مثال</th>
                            <th>کد</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>شما می توانید برچسب علامت را به
                                    متن<mark>برجسته</mark> .</p>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt;You can use the mark tag to &lt;mark&gt;highlight&lt;/mark&gt; text.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <del>این خط متن به عنوان متن حذف شده محسوب می شود.</del>
                                </p>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt;&lt;del&gt;This line of text is meant to be treated as deleted text.&lt;/del&gt;&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <s>این خط متن به معنای آن است که دیگر دقت نکنیم.</s>
                                </p>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt;&lt;s&gt;This line of text is meant to be treated as no longer accurate.&lt;/s&gt;&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                        این خط متن
                                    <ins>به معنای آن است که علاوه بر سند نیز در نظر گرفته شود.</ins>
                                </p>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt;&lt;ins&gt;This line of text is meant to be treated as an addition to the document.&lt;/ins&gt;&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <u>این خط متن به صورت زیر نشان داده می شود</u>
                                </p>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt;&lt;u&gt;This line of text will render as underlined.&lt;/u&gt;&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><small>این خط از متن به عنوان چاپ خوب در نظر گرفته شده است.</small></p>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt;&lt;small&gt;This line of text is meant to be treated as fine print.&lt;/small&gt;&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>این خط به صورت bold نوشته شده است.</strong></p>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt;&lt;strong&gt;This line rendered as bold text.&lt;/strong&gt;&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><em>این خط به صورت متن کلاسیک ارائه شده است.</em></p>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt;&lt;em&gt;This line rendered as italicized text.&lt;/em&gt;&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>مثال
                                    <abbr title="" data-popup="tooltip" data-original-title="Abbr title">اختصار</abbr>
                                </p>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt; Sample &lt;abbr&gt;Abbreviations.&lt;/abbr&gt;&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>مثال
                                    <abbr title="HyperText Markup Language" class="initialism">HTML</abbr> عنوان.</p>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt; Sample &lt;abbr title="HyperText Markup Language" class="initialism"&gt;HTML.&lt;/abbr&gt;&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <var>y</var> =
                                <var>m</var>
                                <var>x</var> +
                                <var>b</var>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt; For indicating variables use the &lt;var&gt; tag.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>ویرایش تنظیمات، را فشار دهید
                                    <kbd>
                                        <kbd>ctrl</kbd> +
                                    <kbd>,</kbd>
                                    </kbd>
                                </p>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt; Use the &lt;kbd&gt;  to indicate input that is typically entered via keyboard.&lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <samp>این متن به عنوان خروجی نمونه از یک برنامه کامپیوتری رفتار می شود.</samp>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt; For indicating sample output from a program use the  &lt;samp&gt;  tag. &lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <code>Inline code snippet</code>
                            </td>
                            <td>
                                <pre class="language-markup"><code>    &lt;p&gt; Wrap inline snippets of code with &lt;code&gt; tag. &lt;/p&gt;</code></pre>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--/ Text option -->
