
<div class="p-grid bg-white px-4 pt-3" style="text-align: right;direction: rtl;">
  <div *ngIf="modal != true" class="p-col-12 page-title">لیست سازمان</div>
  <div class="p-col-12">

    <div *ngIf="!modal" class="new-btn-container p-col-12 ui-sm-12">
      <button title="جدید" routerLink="/organization-management/organization-detail" type="button" class="btn-new btn btn-raised " aria-label="Add">
        <i class="ft-plus"></i>
      </button>
    </div>

    <div class="p-col-12 ui-sm-12 table-responsive">
      <table class="table table-striped text-center">
        <thead>
        <tr>
          <th>نام سازمان</th>
          <th>کد سازمانی</th>
          <th>توضیحات</th>
          <th *ngIf="!modal">عملیات</th>
          <th *ngIf="modal">انتخاب</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of organizationList" class='clickable-row'>
          <td><strong>{{ item.name }}</strong></td>
          <td><strong>{{ item.phoneNumber }}</strong></td>
          <td><strong>{{ item.description }}</strong></td>
          <td *ngIf="!modal">
            <a title="ویرایش" class="tbl-btn-new"
               [routerLink]="['/organization-management/organization-detail']" [queryParams]="{ id: item.id}">
              <i class="fa ft-edit table-operation"></i>
            </a>

            <a title="حذف" class="tbl-btn-del"  (click)="removeOrganization(item.id)">
              <i class="fa ft-trash-2 table-operation"></i>
            </a>
          </td>

          <td *ngIf="modal">
            <a title="انتخاب" class="tbl-btn-del"  (click)="addForSources(item.id)">
              <i class="fa ft-check table-operation"></i>
            </a>
          </td>

        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="totalRecords" [page]="1" [pageSize]="tableSize"
                        (pageChange)="getPublisherList($event)">
        </ngb-pagination>
      </div>

    </div>

  </div>
</div>
