.ft-icon {
  line-height: 1.5;

  span {
    font-family: "iransans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding-right: 5px;
  }
}

::ng-deep  dp-date-picker.dp-material .dp-picker-input {
    border-color: lightgrey;
    height: 35px;
    width: 130px;
}
