<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-primary">
      <div class="card-content">
        <div class="card-body pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">1333000 ریال</h3>
              <span>هزینه کل</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-bulb font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
          <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options"
            [responsiveOptions]="WidgetlineChart.responsiveOptions" [events]="WidgetlineChart.events">
          </x-chartist>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-warning">
      <div class="card-content">
        <div class="card-body pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">2000 ریال</h3>
              <span>مالیات کل </span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
          <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options"
            [responsiveOptions]="WidgetlineChart.responsiveOptions" [events]="WidgetlineChart.events">
          </x-chartist>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-success">
      <div class="card-content">
        <div class="card-body pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">5000 ریال</h3>
              <span>کل فروش</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-graph font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
          <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options"
            [responsiveOptions]="WidgetlineChart.responsiveOptions" [events]="WidgetlineChart.events">
          </x-chartist>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card bg-danger">
      <div class="card-content">
        <div class="card-body pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">233000 ریال</h3>
              <span>مجموع درآمد</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-wallet font-large-1"></i>
            </div>
          </div>
        </div>
        <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
          <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options"
            [responsiveOptions]="WidgetlineChart.responsiveOptions" [events]="WidgetlineChart.events">
          </x-chartist>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" matchHeight="card">
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">کشف مردم </h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="media mb-3">
            <img alt="96x96" class="media-object d-flex mr-3 align-self-center bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-17.png">
            <div class="media-body">
              <h4 class="font-medium-1 mt-2 mb-0">نام و نام خانوادگی کاربر</h4>
            </div>
            <a class="d-flex ml-3 btn btn-raised btn-round gradient-blackberry py-2 width-150 justify-content-center white">دنبال شده</a>
          </div>
          <div class="media mb-3">
            <img alt="96x96" class="media-object d-flex mr-3 align-self-center bg-danger height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-17.png">
            <div class="media-body">
              <h4 class="font-medium-1 mt-2 mb-0">نام و نام خانوادگی کاربر</h4>
            </div>
            <a class="d-flex ml-3 btn btn-raised btn-round btn-outline-grey py-2 width-150 justify-content-center">دنبال کنید</a>
          </div>
          <div class="media mb-3">
            <img alt="96x96" class="media-object d-flex mr-3 align-self-center bg-success height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-17.png">
            <div class="media-body">
              <h4 class="font-medium-1 mt-2 mb-0">نام و نام خانوادگی کاربر</h4>
            </div>
            <a class="d-flex ml-3 btn btn-raised btn-round btn-outline-grey py-2 width-150 justify-content-center">دنبال کنید</a>
          </div>
          <div class="media mb-3">
            <img alt="96x96" class="media-object d-flex mr-3 align-self-center bg-warning height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-17.png">
            <div class="media-body">
              <h4 class="font-medium-1 mt-2 mb-0">نام و نام خانوادگی کاربر</h4>
            </div>
            <a class="d-flex ml-3 btn btn-raised btn-round gradient-blackberry py-2 width-150 justify-content-center white">دنبال شده</a>
          </div>
          <div class="media mb-3">
            <img alt="96x96" class="media-object d-flex mr-3 align-self-center bg-info height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-17.png">
            <div class="media-body">
              <h4 class="font-medium-1 mt-2 mb-0">نام و نام خانوادگی کاربر</h4>
            </div>
            <a class="d-flex ml-3 btn btn-raised btn-round btn-outline-grey py-2 width-150 justify-content-center">دنبال کنید</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">تجزیه و تحلیل سایت</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="chart-info mb-3">
            <span class="text-uppercase mr-3"><i class="fa fa-circle primary font-small-2 mr-1"></i>دانشگاهها</span>
            <span class="text-uppercase mr-3"><i class="fa fa-circle warning font-small-2 mr-1"></i> بازدید کنندگان</span>
            <span class="text-uppercase"><i class="fa fa-circle danger font-small-2 mr-1"></i>اساتید</span>
          </div>
          <div id="line-chart1" class="height-350 lineChart1 lineChart1Shadow">
            <x-chartist class="" [data]="lineChart1.data" [type]="lineChart1.type" [options]="lineChart1.options"
              [responsiveOptions]="lineChart1.responsiveOptions" [events]="lineChart1.events">
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" matchHeight="card">
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="card-header text-center pb-0">
        <span class="font-medium-2 primary">تعداد آپلود مقاله</span>
        <h3 class="font-large-2 mt-1">3261</h3>
      </div>
      <div class="card-content">
        <div id="donut-chart1" class="height-250 donut1">
          <x-chartist [data]="DonutChart1.data" [type]="DonutChart1.type" [options]="DonutChart1.options"
            [responsiveOptions]="DonutChart1.responsiveOptions" [events]="DonutChart1.events">
          </x-chartist>
        </div>
        <div class="card-body text-center">
          <span class="font-large-1 d-block mb-1">5000</span>
          <span class="primary font-medium-1">هدف روزانه</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="card-header text-center pb-0">
        <span class="font-medium-2 warning">درآمد  </span>
        <h3 class="font-large-2 mt-1">7.6
          <span class="font-medium-1 grey darken-1 text-bold-400">میلیون تومان</span>
        </h3>
      </div>
      <div class="card-content">
        <div id="donut-chart2" class="height-250 donut2">
          <x-chartist [data]="DonutChart2.data" [type]="DonutChart2.type" [options]="DonutChart2.options"
            [responsiveOptions]="DonutChart2.responsiveOptions" [events]="DonutChart2.events">
          </x-chartist>
        </div>
        <div class="card-body text-center">
          <span class="font-large-1 d-block mb-1">10</span>
          <span class="warning font-medium-1"> هدف ماه </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="card-header text-center pb-0">
        <span class="font-medium-2 danger">تعداد عضو</span>
        <h3 class="font-large-2 mt-1">4,025
          <span class="font-medium-1 grey darken-1 text-bold-400">نفر</span>
        </h3>
      </div>
      <div class="card-content">
        <div id="donut-chart3" class="height-250 donut3">
          <x-chartist [data]="DonutChart3.data" [type]="DonutChart3.type" [options]="DonutChart3.options"
            [responsiveOptions]="DonutChart3.responsiveOptions" [events]="DonutChart3.events">
          </x-chartist>
        </div>
        <div class="card-body text-center">
          <span class="font-large-1 d-block mb-1">5000</span>
          <span class="danger font-medium-1">هدف ماهانه</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="row" matchHeight="card">-->
<!--  <div class="col-xl-6 col-lg-12 col-sm-12">-->
<!--    <div class="card">-->
<!--      <div class="card-content">-->
<!--        <div class="card-img">-->
<!--          <img class="card-img-top img-fluid height-300" src="assets/img/photos/weather-1.jpg" alt="Card image cap">-->
<!--          <h4 class="card-title">آفتابی</h4>-->
<!--          <a class="btn btn-floating halfway-fab bg-primary"><i class="ft-plus"></i></a>-->
<!--        </div>-->
<!--        <div class="card-body mt-2">-->
<!--          <div class="row">-->
<!--            <div class="col-2 text-center">-->
<!--              <span class="d-block">شنبه</span>-->
<!--              <i class="wi wi-day-sunny d-block warning font-large-1 my-3"></i>-->
<!--              <span class="d-block">13&deg;</span>-->
<!--            </div>-->
<!--            <div class="col-2 text-center">-->
<!--              <span class="d-block">یکشنبه</span>-->
<!--              <i class="wi wi-day-cloudy d-block warning font-large-1 my-3"></i>-->
<!--              <span class="d-block">12&deg;</span>-->
<!--            </div>-->
<!--            <div class="col-2 text-center">-->
<!--              <span class="d-block">دوشنبه</span>-->
<!--              <i class="wi wi-day-cloudy-gusts d-block warning font-large-1 my-3"></i>-->
<!--              <span class="d-block">10&deg;</span>-->
<!--            </div>-->
<!--            <div class="col-2 text-center">-->
<!--              <span class="d-block">سه شنبه</span>-->
<!--              <i class="wi wi-day-cloudy-windy d-block warning font-large-1 my-3"></i>-->
<!--              <span class="d-block">12&deg;</span>-->
<!--            </div>-->
<!--            <div class="col-2 text-center">-->
<!--              <span class="d-block">چهارشنبه</span>-->
<!--              <i class="wi wi-day-fog d-block warning font-large-1 my-3"></i>-->
<!--              <span class="d-block">9&deg;</span>-->
<!--            </div>-->
<!--            <div class="col-2 text-center">-->
<!--              <span class="d-block">پنج شنبه</span>-->
<!--              <i class="wi wi-day-lightning d-block warning font-large-1 my-3"></i>-->
<!--              <span class="d-block">6&deg;</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-xl-6 col-lg-12">-->
<!--    <div class="card">-->
<!--      <div class="card-header pb-0">-->
<!--        <h4 class="card-title">آمار</h4>-->
<!--      </div>-->
<!--      <div class="card-content">-->
<!--        <div class="card-body">-->
<!--          <div class="chart-info mb-2">-->
<!--            <span class="text-uppercase mr-3"><i class="fa fa-circle primary font-small-2 mr-1"></i> حراجی</span>-->
<!--            <span class="text-uppercase"><i class="fa fa-circle warning font-small-2 mr-1"></i> بازدید کنندگان</span>-->
<!--          </div>-->
<!--          <div id="line-chart2" class="height-350 lineChart2 lineChart2Shadow">-->
<!--            <x-chartist class="" [data]="lineChart2.data" [type]="lineChart2.type" [options]="lineChart2.options"-->
<!--              [responsiveOptions]="lineChart2.responsiveOptions" [events]="lineChart2.events">-->
<!--            </x-chartist>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="row mb-3" matchHeight="card">
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="row d-flex mb-3 py-2">
            <div class="col align-self-center text-center"><i class="icon-graph font-large-2 blue-grey lighten-2"></i></div>
            <div class="col align-self-center"><img alt="96x96" class="bg-danger width-150 rounded-circle img-fluid"
                src="assets/img/portrait/small/avatar-s-17.png"></div>
            <div class="col align-self-center text-center"><i class="icon-envelope font-large-2 blue-grey lighten-2"></i></div>
          </div>
          <h3 class="font-large-1 text-center">حمیدرضا معمار</h3>
          <span class="font-medium-1 grey d-block text-center"> استاد برتر کریپتومارت</span>
          <div class="row mt-4 mb-3">
            <div class="col-xl-7 col-8 ">
              <div id="Widget-line-chart1" class="height-75 WidgetlineChart1 WidgetlineChart1Shadow px-2">
                <x-chartist class="" [data]="WidgetlineChart1.data" [type]="WidgetlineChart1.type" [options]="WidgetlineChart1.options"
                  [responsiveOptions]="WidgetlineChart1.responsiveOptions" [events]="WidgetlineChart1.events">
                </x-chartist>
              </div>
            </div>
            <div class="col-xl-5 col-4">
              <span class="font-large-1"><i class="fa fa-caret-up font-large-2 success"></i> 27 %</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-content">
        <div class="card-img">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img src="assets/img/photos/17.jpg" alt="Random first slide">
              <div class="carousel-caption">
                <h3>تسک اول</h3>
                <p>بررسی کتاب فیزیک ایجاد شده</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/photos/13.jpg" alt="Random second slide">
              <div class="carousel-caption">
                <h3>تسک دوم</h3>
                <p>دعوت از دانشگاه تهران</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="assets/img/photos/12.jpg" alt="Random third slide">
              <div class="carousel-caption">
                <h3>تسک سوم</h3>
                <p>دموی سایت در محیط عملیاتی</p>
              </div>
            </ng-template>
          </ngb-carousel>
          <a class="btn btn-floating halfway-fab btn-large gradient-blackberry"><i class="ft-plus"></i></a>
        </div>
        <div class="card-body mt-3">
          <h4 class="card-title">عنوان کارت</h4>
          <p class="card-text">
              نمایش دیتای تستی که در نهایت بصورت داینامیک در کریپتومارت فراهم خواهد شد
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">درآمد</h4>
        <span class="grey">18 خرداد - 20 خرداد</span>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="earning-details mb-4">
            <h3 class="font-large-2 mb-1">40000 ریال <i class="ft-arrow-up font-large-2 teal accent-3"></i></h3>
            <span class="font-medium-1 grey d-block">درآمد کل </span>
          </div>
          <div id="Widget-line-chart2" class="height-100 WidgetlineChart2 WidgetlineChart2Shadow">
            <x-chartist class="" [data]="WidgetlineChart2.data" [type]="WidgetlineChart2.type" [options]="WidgetlineChart2.options"
              [responsiveOptions]="WidgetlineChart2.responsiveOptions" [events]="WidgetlineChart2.events">
            </x-chartist>
          </div>
          <div class="action-buttons mt-4 mb-1 text-center">
            <a class="btn btn-raised gradient-blackberry py-2 px-4 white mr-2">مشاهده کامل </a>
            <a class="btn btn-raised btn-outline-grey py-2 px-3">چاپ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="row" matchHeight="card">-->
<!--  <div class="col-lg-4 col-md-4 col-sm-12 mb-2">-->
<!--    <div class="card card-inverse bg-primary text-center">-->
<!--      <div class="card-content">-->
<!--        <div class="card-img overlap">-->
<!--          <img src="assets/img/elements/11.png" alt="element 06" width="190" class="mb-1">-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <h4 class="card-title">ورودی جدید</h4>-->
<!--          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-lg-4 col-md-4 col-sm-12 mb-2">-->
<!--    <div class="card card-inverse bg-danger text-center">-->
<!--      <div class="card-content">-->
<!--        <div class="card-img overlap">-->
<!--          <img src="assets/img/elements/14.png" alt="element 03" width="170">-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <h4 class="card-title">نام تجاری</h4>-->
<!--          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-lg-4 col-md-4 col-sm-12 mb-2">-->
<!--    <div class="card card-inverse bg-warning text-center">-->
<!--      <div class="card-content">-->
<!--        <div class="card-img overlap">-->
<!--          <img src="assets/img/elements/07.png" alt="element 07" width="225">-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <h4 class="card-title">نام تجاری</h4>-->
<!--          <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="row" matchHeight="card">
  <div class="col-xl-8 col-lg-12">
    <div class="card">
      <div class="card-header pb-0">
        <h4 class="card-title">میانگین زمان ماندن در کریپتومارت</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="chart-info mb-2">
            <span class="text-uppercase mr-3"><i class="fa fa-circle primary font-small-2 mr-1"></i>اعضا</span>
            <span class="text-uppercase"><i class="fa fa-circle warning font-small-2 mr-1"></i> راهبران</span>
          </div>
          <div id="line-area-chart" class="height-300 lineAreaChart mb-1">
            <x-chartist class="" [data]="lineAreaChart.data" [type]="lineAreaChart.type" [options]="lineAreaChart.options"
              [responsiveOptions]="lineAreaChart.responsiveOptions" [events]="lineAreaChart.events">

            </x-chartist>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <h4 class="card-title">آمار فعالیت</h4>
          <p class="card-text">برترین رشته های فعال</p>
        </div>
        <ul class="list-group">
          <li class="list-group-item text-left">
            <span class="badge bg-primary float-right text-white">4</span> کامپیوتر
          </li>
          <li class="list-group-item text-left">
            <span class="badge bg-info float-right text-white">2</span> آب
          </li>
          <li class="list-group-item text-left">
            <span class="badge bg-warning float-right text-white">6</span> برق
          </li>
          <li class="list-group-item text-left">
            <span class="badge bg-success float-right text-white">1</span> فیزیک
          </li>
          <li class="list-group-item text-left">
            <span class="badge bg-danger float-right text-white">3</span> هنر
          </li>
        </ul>
        <div class="card-body">
          <a class="card-link success">لینک کارت</a>
          <a class="card-link success">لینک دیگر</a>
        </div>
      </div>
    </div>
  </div>
</div>
