<div class="p-grid" style="text-align: right; float: right;direction: rtl;">
    <form [formGroup]="magazineForm" class="editForm p-grid p-col-12" (ngSubmit)="edit()">

        <div class="p-col-4">
            <input id="title" class="round form-control" formControlName="title" [(ngModel)]="magazineModel.title"
                   placeholder="نام"/>
            <small class="form-text text-muted danger"
                   *ngIf="!magazineForm.get('title').valid && (magazineForm.get('title').dirty || magazineForm.get('title').touched)">
                این فیلد الزامی است.
            </small>
        </div>

        <div class="p-col-4">
            <input id="specialistArea" class="round form-control" formControlName="specialistArea"
                   [(ngModel)]="magazineModel.specialistArea" placeholder="حوزه تخصصی">
        </div>

        <div class="p-col-4">
            <input type="number" id="startReleaseDate" class="round form-control" formControlName="startReleaseDate"
                   [(ngModel)]="magazineModel.startReleaseDate" placeholder="سال آغاز انتشار" min="1">
        </div>

        <div class="p-col-4">
            <ng-select formControlName="releaseType" [items]="releaseTypes"
                       notFoundText="موردی یافت نشد" [(ngModel)]="magazineModel.releaseType"
                       bindLabel="name" bindValue="id" placeholder="نوع انتشار" style="width: 100%;">
            </ng-select>
        </div>
        <div class="p-col-4">
            <ng-select formControlName="releasePeriod" [items]="releasePeriods"
                       notFoundText="موردی یافت نشد" [(ngModel)]="magazineModel.releasePeriod"
                       bindLabel="name" bindValue="id" placeholder="دوره انتشار" style="width: 100%;">
            </ng-select>
        </div>

        <div class="p-col-4">
            <ng-select formControlName="languageId" [items]="languages"
                       notFoundText="موردی یافت نشد" [(ngModel)]="magazineModel.languageId"
                       bindLabel="name" bindValue="id" placeholder="زبان مجله" style="width: 100%;">
            </ng-select>
        </div>
        <div class="p-col-8">
            <input id="address" class="round form-control" formControlName="address"
                   [(ngModel)]="magazineModel.address" placeholder="آدرس">
        </div>
        <div class="p-col-4">
            <input id="website" class="round form-control" formControlName="website"
                   [(ngModel)]="magazineModel.website" placeholder="سایت اختصاصی">
        </div>
        <div class="p-col-12">
            <input id="description" class="round form-control" formControlName="description"
                   [(ngModel)]="magazineModel.description" placeholder="توضیحات">
        </div>
        <div class="p-col-10">
            <textarea id="aboutMagazine" class="form-control" formControlName="aboutMagazine" rows="4"
                      [(ngModel)]="magazineModel.aboutMagazine" placeholder="درباره مجله">
            </textarea>
        </div>

        <div class="p-col-2" style="position: relative;text-align: center">
            <div style="text-align: center;width: 20%;position: relative; margin: auto">
                <i *ngIf="magazineModel.magazinePhoto" title="حذف"
                   style="bottom: -21px;right: 83px; position: absolute;color: #ef5369;cursor: pointer;font-size: 19px;"
                   class="fa fa-remove" (click)="removeMagazinePhoto()">
                </i>
                <img *ngIf="magazineModel.magazinePhoto" title="برای ویرایش کلیک کنید"
                     [src]="uploadUrl + magazineModel.magazinePhoto"
                     (click)="openChangeImageDialog(magazinePhoto)"
                     style="cursor: pointer;box-shadow: 0 0 16px #bfb0b0; border-radius:100%; margin: auto;display: block;height: 100px;width: 100px;">
                <img *ngIf="!magazineModel.magazinePhoto" title="افزودن تصویر لگو"
                     src="../../../assets/img/portrait/avatars/avatar-07.png"
                     (click)="openChangeImageDialog(magazinePhoto)"
                     style="cursor: pointer;box-shadow: 0 0 16px #bfb0b0; border-radius:100%; margin: auto;display: block;height: 100px;width: 100px;">
            </div>
        </div>
        <hr>
        <div class="p-col-12"></div>
        <hr>
        <div class="p-grid p-col-12">
            <div class="editForm p-grid p-col-12">
                <div class="p-col-12 p-text-center">
                    <h5 style="font-weight: bold" class="pt-2 pb-4">اطلاعات تماس</h5>
                </div>
                <form [formGroup]="contactForm" class="editForm p-grid p-col-12" (ngSubmit)="createContact()">
                    <div class="p-xl-3 p-lg-3 p-md-1 p-sm-12 p-col-12 form-group"></div>
                    <div class="p-xl-3 p-lg-3 p-md-3 p-sm-12 p-col-12">
                        <ng-select class="disable-clear-all" [clearable]="false" [searchable]="false"
                                   formControlName="contactType"
                                   [items]="contentTypeSelect"
                                   bindLabel="name" placeholder="نوع اطلاعات">
                            <ng-template ng-label-tmp let-item="item">
                                <img style="margin-left: 6px" height="20" width="20" [src]="item.avatar"/>
                                <b> </b>
                                <span style="font-family: iransans">{{item.name}}</span>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                <img style="margin-left: 6px" height="20" width="20" [src]="item.avatar"/>
                                <span style="font-family: iransans">{{item.name}}</span>
                            </ng-template>
                        </ng-select>
                        <small style="text-align: right" class="form-text text-muted danger" *ngIf="!contactForm.get('contactType').valid
                && (contactForm.get('contactType').dirty || contactForm.get('contactType').touched)">
                            این فیلد الزامی است.
                        </small>
                    </div>
                    <div class="p-xl-3 p-lg-3 p-md-3 p-sm-12 p-col-12">
                        <input id="subject" class="round form-control" formControlName="content"
                               placeholder="محتوا"/>
                        <small style="text-align: right" class="form-text text-muted danger" *ngIf="!contactForm.get('content').valid
                                &&contactForm.get('content').errors.required
                                && (contactForm.get('content').dirty || contactForm.get('content').touched)">
                            این فیلد الزامی است.
                        </small>
                        <small style="text-align: right" class="form-text text-muted danger" *ngIf="!contactForm.get('content').valid
                                &&contactForm.get('content').errors.email
                                && (contactForm.get('content').dirty || contactForm.get('content').touched)">
                            فرمت ایمیل صحیح نیست
                        </small>
                        <small style="text-align: right" class="form-text text-muted danger" *ngIf="!contactForm.get('content').valid
                                &&contactForm.get('content').errors.pattern
                                && (contactForm.get('content').dirty || contactForm.get('content').touched)">
                            فرمت شماره صحیح نیست
                        </small>
                    </div>
                    <div class="p-xl-1 p-lg-1 p-md-1 p-sm-12 p-col-12 add-cent-mob">
                        <button title="جدید" type="submit" class="circle-add btn-new btn btn-raised "
                                aria-label="Add"
                                [disabled]="!contactForm.valid">
                            <i class="ft-plus"></i>
                        </button>
                    </div>

                </form>

                <div class="p-grid p-col-12">
                    <div class="p-col-1"></div>
                    <div style="position: relative" class="p-col-11 p-grid">
                        <div class="card text-center p-col-12 p-lg-3 p-xl-3 p-md-4 p-sm-6 ml-1"
                             *ngFor="let contact of magazineModel.contactDtoList;  let i = index"
                             [ngClass]="{'bg-warning': contact.type == 'EMAIL', 'bg-primary': contact.type == 'PHONE', 'bg-success': contact.type == 'TELEGRAPH'}">
                            <div class="card-body">
                                <p class="card-text">{{contact.content}}</p>
                                <div class="">
                                    <a title="حذف" class="tbl-btn-del" (click)="deleteContact(i)">
                                        <i class="fa ft-trash-2 table-operation"></i>
                                    </a>
                                    <a title="تلگراف" *ngIf="contact.type=='TELEGRAPH'"
                                       style="position: absolute; right: 4px;top: 2px">
                                        <i style="font-size: 35px;color: #f5f7fa;"
                                           class="fa fa-mobile table-operation"></i>
                                    </a>

                                    <a title="ایمیل" *ngIf="contact.type=='EMAIL'"
                                       style="position: absolute; right: 2px;top: 2px">
                                        <i style="font-size: 28px;color: #f5f7fa;"
                                           class="fa ft-mail table-operation"></i>
                                    </a>

                                    <a title="تلفن" *ngIf="contact.type=='PHONE'"
                                       style="position: absolute; right: 2px;top: 2px">
                                        <i style="font-size: 28px;color: #f5f7fa;"
                                           class="fa fa-phone table-operation"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12">
            <div class="custom-control custom-checkbox custom-control-inline mb-3 p-col-2">
                <label class="btn-raised btn-primary" ngbButtonLabel>
                    <input formControlName="confirmed" type="checkbox" ngbButton [(ngModel)]="magazineModel.confirmed">تایید
                    شده</label>
            </div>
        </div>

        <div class="p-col-12 p-grid">
            <div class="p-col-6" style="text-align: left">
                <button class="btn btn-primary fix-back-btn" [routerLink]="['/sources/magazine-list']" type="button">
                    <i class="ft-arrow-right"></i>
                    بازگشت
                </button>
            </div>
            <div class="p-col-6" style="text-align: right;">
                <button [disabled]="!magazineForm.valid" type="submit" class="btn btn-raised btn-info"
                        style="margin-bottom: 0;">بعدی
                    <span>
                        <i class="ft-chevron-left"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>
<ng-template #magazinePhoto let-modal>
    <div class="modal-header">
        <h5 class="modal-title">تصویر لگو</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" style="color: black; float:left;">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-image-upload shape="circle" [aspectRatio]="1" [enableRatio]="true"
                          (resultImage)="setMagazinePhoto($event)"></app-image-upload>
    </div>
</ng-template>
