.help-up{
  background-color: #f4f4f4;
  padding: 5px;
  border-radius: 9px;
  font-size: 11px;
}

button{
  color: white !important;
}
.custom-help-icon{
  color: white;
  background-color: #ff586b;
  border-radius: 100%;
  font-size: 30px;
  cursor: pointer;
}