.form-input{
  width: 90%;
  font-family:iransans;
  font-weight: normal;
  padding-right: 10px;
}

input{
  margin-bottom: 1px;
}
button{
  color: white !important;
}
.margin-form{
  margin-bottom: 15px;
}
