<div class="row">
  <div class="col-sm-12">
    <div class="content-header">کلاس های کمک کننده</div>
  </div>
</div>
<!-- Spacing -->
<section id="spacing" class="card">
  <div class="card-header">
    <h4 class="card-title">فاصله      </h4>
  </div>
  <div class="card-content">
    <div class="card-body">
      <div class="card-text">
        <p>اختصاص دادن <code class="highlighter-rouge">margin</code> یا <code class="highlighter-rouge">padding</code> به
          یک عنصر یا یک زیر مجموعه از طرف آن با کلاس های کوتاه. شامل پشتیبانی از خواص فردی، تمام خواص، و ویژگی های عمودی و افقی است. تمام کلاس ها بر روی مقدار پیش فرض جهانی چند برابر هستند
          <code class="highlighter-rouge">1rem</code>.</p>


        <p>کلاس ها با استفاده از فرمت نامگذاری می شوند: <code class="highlighter-rouge"><span class="p">&#123;</span><span
              class="err">ویژگی</span><span class="p">&#125;</span><span class="err">-</span><span class="p">&#123;</span><span
              class="err">طرف</span><span class="p">&#125;</span><span class="err">-</span><span class="p">&#123;</span><span
              class="err">سایز</span><span class="p">&#125;</span></code></p>
        <ul>
          <li><code class="highlighter-rouge">m</code> - برای کلاس های تعیین شده<code class="highlighter-rouge">margin</code></li>
          <li><code class="highlighter-rouge">p</code> - برای کلاس های تعیین شده <code class="highlighter-rouge">padding</code></li>
        </ul>

        <p>این جدول حاوی کلاس برای اضافه کردن عناصر بالا، پایین، چپ، راست و حاشیه سمت همه است.</p>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.mt-&#123;size&#125;</code></td>
              <td>To set margin top use <code>.mt-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code> is
                value between 0-5.</td>
            </tr>
            <tr>
              <td><code>.mb-&#123;size&#125;</code></td>
              <td>To set margin bottom use <code>.mb-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>
                is value between 0-5.</td>
            </tr>
            <tr>
              <td><code>.ml-&#123;size&#125;</code></td>
              <td>To set margin left use <code>.ml-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>
                is value between 0-5.</td>
            </tr>
            <tr>
              <td><code>.mr-&#123;size&#125;</code></td>
              <td>To set margin right use <code>.mr-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>
                is value between 0-5.</td>
            </tr>
            <tr>
              <td><code>.mx-&#123;size&#125;</code></td>
              <td>To set both margin left & right use <code>.mx-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>
                is value between 0-5.</td>
            </tr>
            <tr>
              <td><code>.my-&#123;size&#125;</code></td>
              <td>To set both margin top & bottom use <code>.my-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>
                is value between 0-5.</td>
            </tr>
            <tr>
              <td><code>.m-&#123;size&#125;</code></td>
              <td>To set margin 4 sides of the element use <code>.ma-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>
                is value between 0-5.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-text">
        <p>این جدول حاوی کلاس برای اضافه کردن عناصر به بالا، پایین، چپ، راست و تمام عرض جانبی است.</p>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.pt-&#123;size&#125;</code></td>
              <td>To set padding top use <code>.pt-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>
                is value between 0-5.</td>
            </tr>
            <tr>
              <td><code>.pb-&#123;size&#125;</code></td>
              <td>To set padding bottom use <code>.pb-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>
                is value between 0-5.</td>
            </tr>
            <tr>
              <td><code>.pl-&#123;size&#125;</code></td>
              <td>To set padding left use <code>.pl-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>
                is value between 0-5.</td>
            </tr>
            <tr>
              <td><code>.pr-&#123;size&#125;</code></td>
              <td>To set padding right use <code>.pr-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>
                is value between 0-5.</td>
            </tr>
            <tr>
              <td><code>.px-&#123;size&#125;</code></td>
              <td>To set both padding left & right use <code>.px-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>
                is value between 0-5.</td>
            </tr>
            <tr>
              <td><code>.py-&#123;size&#125;</code></td>
              <td>To set both padding top & bottom use <code>.py-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>
                is value between 0-5.</td>
            </tr>
            <tr>
              <td><code>.p-&#123;size&#125;</code></td>
              <td>To set padding 4 sides of the element use <code>.pa-&#123;size&#125;</code> class, where <code>&#123;size&#125;</code>
                is value between 0-5.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-text">
        <p>جایی که <em>سایز</em>یکی از:</p>
        <ul>
          <li><code class="highlighter-rouge">0</code> - for classes that eliminate the <code class="highlighter-rouge">margin</code>
            or <code class="highlighter-rouge">padding</code> by setting it to <code class="highlighter-rouge">0</code></li>
          <li><code class="highlighter-rouge">1</code> - (by default) for classes that set the <code class="highlighter-rouge">margin</code>
            or <code class="highlighter-rouge">padding</code> to <code class="highlighter-rouge">$spacer-x</code> or
            <code class="highlighter-rouge">$spacer-y</code></li>
          <li><code class="highlighter-rouge">2</code> - (by default) for classes that set the <code class="highlighter-rouge">margin</code>
            or <code class="highlighter-rouge">padding</code> to <code class="highlighter-rouge">$spacer-x * 1.5</code>
            or <code class="highlighter-rouge">$spacer-y * 1.5</code></li>
          <li><code class="highlighter-rouge">3</code> - (by default) for classes that set the <code class="highlighter-rouge">margin</code>
            or <code class="highlighter-rouge">padding</code> to <code class="highlighter-rouge">$spacer-x * 3</code>
            or <code class="highlighter-rouge">$spacer-y * 3</code></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--/ Spacing -->

<!-- Content helpers -->
<section id="content-helpers" class="card">
  <div class="card-header">
    <h4 class="card-title">حامیان محتوا</h4>
  </div>
  <div class="card-content">
    <!--d-->
    <div class="card-body">
      <div class="card-text">
        <h5 class="text-bold-600 my-1">نمایش دادن</h5>
        <p>کلاس های کمک کننده محتوا نمایش، موقعیت، Z-شاخص، لبه ها، تراز عمودی، مکان نما، گزینه های سرریز و لیست را فراهم می کند.</p>
        <p>یکی از این کلاس ها را اضافه کنید تا خواص نمایش های الکترونیک را تغییر دهید.</p>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.d-inline</code></td>
              <td>عنصر را به عنوان یک عنصر درونی رفتار می کند.</td>
            </tr>
            <tr>
              <td><code>.d-inline-block</code></td>
              <td>عنصر را به عنوان عنصر inline-block رفتار می کند.</td>
            </tr>
            <tr>
              <td><code>.d-block</code></td>
              <td>نیروی عنصر را به عنوان یک عنصر بلوک رفتار می کند.</td>
            </tr>
            <tr>
              <td><code>.d-none</code></td>
              <td>نیروی عنصر را در همه نمایشگاه ها پنهان می کند.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/d-->

      <!--position-->
      <div class="card-text">
        <h5 class="text-bold-600 my-1">موقعیت</h5>
        <p>یکی از این کلاس ها را برای تنظیم خواص موقعیت های Elemets اضافه کنید.</p>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.position-fixed</code></td>
              <td>تغییر موقعیت عنصر به ثابت.</td>
            </tr>
            <tr>
              <td><code>.position-relative</code></td>
              <td>تغییر موقعیت عنصر به نسبی.</td>
            </tr>
            <tr>
              <td><code>.position-absolute</code></td>
              <td>تغییر موقعیت عنصر به مطلق.</td>
            </tr>
            <tr>
              <td><code>.position-static</code></td>
              <td>تغییر موقعیت عنصر به استاتیک.</td>
            </tr>
            <tr>
              <td><code>.position-sticky</code></td>
              <td>تغییر موقعیت عنصر به چسبنده.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/position-->

      <!--vertical alignment-->
      <div class="card-text">
        <h5 class="text-bold-600 my-1">چیدمان عمودی</h5>
        <p>یکی از این کلاسها را برای تغییر خواص ترازبندی عمودی elemets اضافه کنید.</p>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.align-top</code></td>
              <td>تغییر مقطع عمودی عنصر به بالا.</td>
            </tr>
            <tr>
              <td><code>.align-middle</code></td>
              <td>تغییر مقطع عمودی عنصر به وسط.</td>
            </tr>
            <tr>
              <td><code>.align-bottom</code></td>
              <td>تغییر مقطع عمودی عنصر به پایین.</td>
            </tr>
            <tr>
              <td><code>.align-baseline</code></td>
              <td>تغییر مقطع عمودی عنصر به خط مقدم.</td>
            </tr>
            <tr>
              <td><code>.align-text-top</code></td>
              <td>بالای عنصر با بالای فونت عنصر والدین قرار دارد.</td>
            </tr>
            <tr>
              <td><code>.align-text-bottom</code></td>
              <td>پایین عنصر با پایین فونت عنصر والدین هماهنگ است.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/vertical alignment-->

      <!--Edges-->
      <div class="card-text">
        <h5 class="text-bold-600 my-1">لبه ها</h5>
        <p>
            یکی از اینها را اضافه کنید تا لبه های عریض عناصر را حذف کنید، با عناصر مطلق، ثابت و نسبی موقعیت کار می کند
          </p>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.no-edge-top</code></td>
              <td>لبه بالایی عنصر را حذف می کند.</td>
            </tr>
            <tr>
              <td><code>.no-edge-bottom</code></td>
              <td>لبه پایینی عنصر را حذف می کند.</td>
            </tr>
            <tr>
              <td><code>.no-edge-left</code></td>
              <td>لبه چپی عنصر را حذف می کند.</td>
            </tr>
            <tr>
              <td><code>.no-edge-right</code></td>
              <td>لبه راستی عنصر را حذف می کند.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/Edges-->

      <!--Overflow-->
      <div class="card-text">
        <h5 class="text-bold-600 my-1">سرریز</h5>
        <p>اضافه کردن یکی از این به کلاس برای تغییر سرریز از عنصر.</p>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.overflow-visible</code></td>
              <td>پیش فرض سرریز قطع نشده است. این در خارج از جعبه عنصر ارائه می شود.</td>
            </tr>
            <tr>
              <td><code>.overflow-hidden</code></td>
              <td>سرریز قطع شده است و بقیه مطالب نامرئی هستند.</td>
            </tr>
            <tr>
              <td><code>.overflow-auto</code></td>
              <td>اگر سرریز کپی شده باشد، برای مشاهده بقیه محتوا، یک اسکرول اضافه می شود.</td>
            </tr>
            <tr>
              <td><code>.overflow-scroll</code></td>
              <td>سرریز کپی شده است، اما برای مشاهده بقیه محتوا، یک اسکرول اضافه شده است.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!--List-->
      <div class="card-text my-1">
        <h5 class="text-bold-600 my-1">لیست</h5>
        <p>برای تغییر سبک لیست، یکی از اینها را به کلاس اضافه کنید.</p>
      </div>
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.list-unstyled</code></td>
              <td>هیچ نشانگر در مورد لیست نمایش داده نمی شود.</td>
            </tr>
            <tr>
              <td><code>.bullets-inside</code></td>
              <td>مارکر و متن را کنار می گذارد. گلوله درون جریان محتوای نمایش داده می شود</td>
            </tr>
            <tr>
              <td><code>.list-style-circle</code></td>
              <td>نشانگر مورد لیست را به دایره تنظیم کنید.</td>
            </tr>
            <tr>
              <td><code>.list-style-square</code></td>
              <td>نشانگر مورد لیست را به مربع تنظیم کنید.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--List-->
    </div>
  </div>
</section>
<!--/ Content helpers-->

<!-- Borders -->
<section id="borders" class="card">
  <div class="card-header">
    <h4 class="card-title">مرز ها      </h4>
  </div>
  <div class="card-content">
    <!--Add borders-->
    <div class="card-body">
      <div class="card-text my-1">
        <h5 class="text-bold-600">مرز اضافه کنید</h5>
        <p>یکی از اینها را به کلاس اضافه کنید تا مرز را در سمت مورد نیاز اضافه کنید.</p>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.border</code></td>
              <td>مرز یکپارچه را در هر طرف اضافه کنید.</td>
            </tr>
            <tr>
              <td><code>.border-top</code></td>
              <td>اضافه کردن مرز بالایی 1px</td>
            </tr>
            <tr>
              <td><code>.border-bottom</code></td>
              <td>پای مرزی 1px را اضافه کنید.</td>
            </tr>
            <tr>
              <td><code>.border-left</code></td>
              <td>حاشیه جامد سمت چپ 1px را اضافه کنید</td>
            </tr>
            <tr>
              <td><code>.border-right</code></td>
              <td>مرز راست را 1 px اضافه کنید.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/Add borders-->

      <!--Remove borders-->
      <div class="card-text my-1">
        <h5 class="text-bold-600">حذف مرز</h5>
        <p>برای حذف مرز در سمت مورد نظر، یکی از اینها را به کلاس اضافه کنید.</p>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>border-0</code></td>
              <td>مرز را از هر طرف بردارید.</td>
            </tr>
            <tr>
              <td><code>border-top-0</code></td>
              <td>مرز را از قسمت بالا بردارید.</td>
            </tr>
            <tr>
              <td><code>border-bottom-0</code></td>
              <td>مرز را از قسمت پایین بردارید.</td>
            </tr>
            <tr>
              <td><code>border-left-0</code></td>
              <td>مرز را از قسمت چپ بردارید.</td>
            </tr>
            <tr>
              <td><code>border-right-0</code></td>
              <td>مرز را از قسمت راست بردارید.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/Remove borders-->


      <!--Border widths-->
      <div class="card-text my-1">
        <h5 class="text-bold-600">عرض مرز</h5>
        <p>یکی از این ها را به کلاس اضافه کنید تا عرض عرض را در سمت مورد نظر تغییر دهید.</p>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.border-2</code></td>
              <td>تعویض عرض را به 2 پیکسل در هر طرف.</td>
            </tr>
            <tr>
              <td><code>.border-top-2</code></td>
              <td>تعویض عرض را به 2 پیکسل در سمت بالا.</td>
            </tr>
            <tr>
              <td><code>.border-bottom-2</code></td>
              <td>تعویض عرض را به 2 پیکسل در سمت پایین</td>
            </tr>
            <tr>
              <td><code>.border-left-2</code></td>
              <td>تعویض عرض را به 2 پیکسل در سمت چپ</td>
            </tr>
            <tr>
              <td><code>.border-right-2</code></td>
              <td>تعویض عرض را به 2 پیکسل در سمت راست</td>
            </tr>
            <tr>
              <td><code>.border-3</code></td>
              <td>تعویض عرض را به 3 پیکسل در هر طرف </td>
            </tr>
            <tr>
              <td><code>.border-top-3</code></td>
              <td>تعویض عرض را به 3 پیکسل در سمت بالا</td>
            </tr>
            <tr>
              <td><code>.border-bottom-3</code></td>
              <td>تعویض عرض را به 3 پیکسل در سمت پایین</td>
            </tr>
            <tr>
              <td><code>.border-left-3</code></td>
              <td>تعویض عرض را به 3 پیکسل در سمت چپ</td>
            </tr>
            <tr>
              <td><code>.border-right-3</code></td>
              <td>تعویض عرض را به 3 پیکسل در سمت راست</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/Border width-->

      <!--Remove border radius-->
      <div class="card-text my-1">
        <h5 class="text-bold-600">حذف شعاع مرزی</h5>
        <p>یکی از اینها را به کلاس اضافه کنید تا شعاع مرزی را در قسمت مورد نظر حذف کنید.</p>
      </div>
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.no-border-top-radius</code></td>
              <td>حذف شعاع مرزی از طرف بالا.</td>
            </tr>
            <tr>
              <td><code>.no-border-bottom-radius</code></td>
              <td>حذف شعاع مرزی از طرف پایین.</td>
            </tr>
            <tr>
              <td><code>.no-border-top-left-radius</code></td>
              <td>حذف شعاع مرزی از طرف بالا و چپ.</td>
            </tr>
            <tr>
              <td><code>.no-border-top-right-radius</code></td>
              <td>حذف شعاع مرزی از طرف بالا و راست.</td>
            </tr>
            <tr>
              <td><code>.no-border-bottom-left-radius</code></td>
              <td>حذف شعاع مرزی از طرف پایین و چپ.</td>
            </tr>
            <tr>
              <td><code>.no-border-bottom-right-radius</code></td>
              <td>حذف شعاع مرزی از طرف پایین و راست.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/Remove borders-->
    </div>
  </div>
</section>
<!--/ Borders-->

<!-- Size -->
<section id="size" class="card">
  <div class="card-header">
    <h4 class="card-title">سایز</h4>
  </div>
  <div class="card-content">
    <div class="card-body">
      <!--Width & Height-->
      <div class="card-text my-1">
        <h5 class="text-bold-600">عرض و ارتفاع</h5>
        <p>برای تنظیم عرض محتوا، یکی از اینها را به کلاس اضافه کنید.</p>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.fit</code></td>
              <td>محتوای حداکثر عرض 100٪ را تنظیم کنید.</td>
            </tr>
            <tr>
              <td><code>.half-width</code></td>
              <td>محتویات محتوا را 50٪ تنظیم کنید.</td>
            </tr>
            <tr>
              <td><code>.full-width</code></td>
              <td>محتویات محتوا را 100٪ تنظیم کنید.</td>
            </tr>
            <tr>
              <td><code>.full-height</code></td>
              <td>ارتفاع محتوا را 100٪ تنظیم کنید.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/Width & Height-->


      <!--Fixed Width-->
      <div class="card-text my-1">
        <h5 class="text-bold-600">عرض ثابت</h5>
        <p>برای تنظیم پهنای ثابت محتوای، یکی از اینها را به کلاس اضافه کنید.</p>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.width-&#123;size&#125;</code></td>
              <td>مقدار محتوا ثابت در پیکسل اندازه انتخاب شده که در آن اندازه می تواند باشد
                 50, 100, 150, 200, 250, 300,
                350, 400, 450, 500, 550, 600, 650, 700, 750 and 800. i.e <code>.width-50</code></td>
            </tr>
            <tr>
              <td><code>.width-&#123;size&#125;-per</code></td>
              <td>محتویات ثابت محدوده ثابت در درصد اندازه انتخاب شده که اندازه آن می تواند باشد
                 5%, 10%, 15%, 20%, 25%,
                30%, 35%, 40%, 45%, 50%, 55%, 60%, 65%, 70%, 75% and 80%. i.e <code>.width-5-per</code></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/Fixed Width-->

      <!--Fixed Height-->
      <div class="card-text my-1">
        <h5 class="text-bold-600">ارتفاع ثابت</h5>
        <p>برای تنظیم ارتفاع ثابت محتوای، یکی از اینها را به کلاس اضافه کنید.</p>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.height-&#123;size&#125;</code></td>
              <td>تنظیم ارتفاع ثابت در پیکسل اندازه انتخاب شده که اندازه آن می تواند باشد
                 50, 100, 150, 200, 250, 300,
                350, 400, 450, 500, 550, 600, 650, 700, 750 and 800. i.e <code>.height-50</code></td>
            </tr>
            <tr>
              <td><code>.height-&#123;size&#125;-per</code></td>
              <td>مقدار ثابت ارتفاع ثابت در درصد اندازه انتخاب شده که اندازه آن می تواند باشد
                 5%, 10%, 15%, 20%, 25%,
                30%, 35%, 40%, 45%, 50%, 55%, 60%, 65%, 70%, 75% and 80%. i.e <code>.height-5-per</code></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--/Fixed Height-->
    </div>
  </div>
</section>
<!-- Size -->

<!--Image-->
<section id="image" class="card">
  <div class="card-header">
    <h4 class="card-title">عکس</h4>
  </div>
  <div class="card-content">
    <div class="card-body">
      <div class="card-text">
        <p>برای تغییر اندازه تصویر و سایر ویژگی، یکی از اینها را به کلاس اضافه کنید.</p>
      </div>
      <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>کلاس</th>
              <th>توضیح</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>.bg-cover</code></td>
              <td>
                  مقیاس تصویر پس زمینه را تا آنجا که ممکن است به طوری که منطقه پس زمینه به طور کامل توسط تصویر پس زمینه پوشیده شده است.
              </td>
            </tr>
            <tr>
              <td><code>.bg-repeat</code></td>
              <td> تصویر پس زمینه را تکرار نکنید.                </td>
            </tr>
            <tr>
              <td><code>.bg-no-repeat</code></td>
              <td>تکرار تصویر پس زمینه</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--/Image-->
