
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button{
  color: white !important;
}


input[type=number] {
  -moz-appearance: textfield;
}
