<form class="p-col-12 basic-container" [formGroup]="authorForm">
    <div formArrayName="authors">
        <div class="p-grid p-col-12">
            <div class="p-col-3">
                <button class="btn btn-raised  mr-1 btn-adn" aria-label="Add"
                        (click)="addAuthorFormGroup()" type="button">
                    <i class="ft-icon ft-plus-circle">
                        <span>افزودن پدیدآورنده</span>
                    </i>
                </button>
            </div>
            <div class="p-col-4">
                <button class="btn btn-raised mr-1 btn-info" aria-label="Add"
                        (click)="openModal(modalAuthor)" type="button">
                    <i class="ft-icon ft-plus-circle">
                            <span>ثبت پدید آورنده جدید
                            </span>
                    </i>
                </button>
            </div>
        </div>
        <div class="p-grid p-col-12 row"
             *ngFor="let author of authorFormData.controls; let i = index"
             [formGroupName]="i">
            <div class="p-col-1">
                <button class="btn btn-raised mr-1 btn-danger" aria-label="Add"
                        (click)="removeOrClearAuthorForm(i)" type="button">
                    <i class="ft-minus-circle"></i>
                </button>
            </div>
            <div class="p-col-4">
                <input class="round form-control" id="typeId" formControlName="typeId" disabled
                       placeholder="پدیدآور" style="width: 100%;"/>
            </div>
            <div class="p-col-3">
                <ng-select formControlName="authorId" (search)="searchAuthor($event)" [items]="authors"
                           bindLabel="fullName"
                           placeholder="انتخاب پدیدآور" (scroll)="onScroll($event)"
                           notFoundText="موردی یافت نشد"
                           [virtualScroll]="true"
                           (scrollToEnd)="onScrollToEnd()" style="width: 100%;">
                </ng-select>
            </div>
        </div>
    </div>
</form>
<hr>
<form class="p-col-12 basic-container" [formGroup]="professorForm">
    <div formArrayName="professor">
        <div class="p-grid p-col-12">
            <div class="p-col-3">
                <button class="btn btn-raised  mr-1 btn-adn" aria-label="Add"
                        (click)="addProfessorFormGroup()" type="button">
                    <i class="ft-icon ft-plus-circle">
                        <span>افزودن استاد</span>
                    </i>
                </button>
            </div>
            <div class="p-col-3">
                <app-profile-search [multiple]="false" (final)="getProfile($event)"></app-profile-search>
            </div>
        </div>
        <div class="p-grid p-col-12 row"
             *ngFor="let professor of professorFormData.controls; let i = index"
             [formGroupName]="i">
            <div class="p-col-1">
                <button class="btn btn-raised mr-1 btn-danger" aria-label="Add"
                        (click)="removeOrClearProfessorForm(i)" type="button">
                    <i class="ft-minus-circle"></i>
                </button>
            </div>
            <div class=" p-col-2">
                <ng-select formControlName="typeId" [items]="thesisInvolvedType" bindLabel="name" bindValue="id"
                           placeholder="انتخاب نوع استاد" style="width: 100%;">
                </ng-select>
            </div>
            <div class="p-col-3">
                <input id="fullName" class="round form-control" formControlName="fullName"
                       placeholder="نام نام خانوادگی" style="width: 100%;">
            </div>

            <div class="p-col-3">
                <input id="degree" class="round form-control" formControlName="degree"
                       placeholder="مدرک تحصیلی" style="width: 100%;">
            </div>
        </div>
    </div>
</form>

<div class=" p-col-12 text-center">
    <button [disabled]="!authorForm.valid && !professorForm.valid"
            type="button" (click)="addInvolved()" class="btn btn-raised btn-info"
            style="margin-bottom: 0;">
        بعدی
        <span>
                  <i class="ft-chevron-left"></i>
                </span>
    </button>
</div>

<ng-template #modalAuthor let-modal>
    <div class="modal-header">
        <h4 class="modal-title">ثبت پدید آورنده جدید</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" style="color: black; float:left;">&times;</span>
        </button>
    </div>
    <app-author-detail [modal]="true" (passEntry)="getNewAuthor($event)"></app-author-detail>
</ng-template>
