<div class="p-grid bg-white px-4 pt-3" style="text-align: right">
    <div class="p-col-12 page-title">لیست مجلات</div>
    <div class="p-col-12">
        <div class="new-btn-container p-col-12 ui-sm-12">
            <button title="جدید" routerLink="/sources/magazine-detail" type="button" class="btn-new btn btn-raised "
                    aria-label="Add">
                <i class="ft-plus"></i>
            </button>
        </div>
        <div class="p-col-12 ui-sm-12 table-responsive">
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th>عنوان مجله</th>
                    <th>سال آغاز انتشار</th>
                    <th>حوزه تخصصی</th>
                    <th>نوع انتشار</th>
                    <th>نوع مجله</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of magazineList" class="clickable-row">
                    <td><strong>{{ item.title }}</strong></td>
                    <td><strong>{{ item.startReleaseDate }}</strong></td>
                    <td><strong>{{ item.specialistArea }}</strong></td>
                    <td><strong>{{ item.releaseTypeName }}</strong></td>
                    <td><strong>{{ item.magazineTypeName }}</strong></td>
                    <td>
                        <a title="ویرایش" class="tbl-btn-new" [routerLink]="['/sources/magazine-detail']"
                           [queryParams]="{ magazineId: item.id}">
                            <i class="fa ft-edit table-operation"></i>
                        </a>
                        <a title="ثبت شماره جدید" class="tbl-btn-group" [routerLink]="['/sources/magazine-number-list']"
                           [queryParams]="{ magazineId: item.id}">
                            <i class="fa ft-plus-circle table-operation"></i>
                        </a>
                        <a title="حذف" class="tbl-btn-del" (click)="removeMagazine(item.id)">
                            <i class="fa ft-trash-2 table-operation"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="totalRecord" [page]="1" [pageSize]="tableSize"
                                (pageChange)="getMagazineList($event)">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
<div style="position: relative;">
    <img *ngIf="showProgress" src="assets/img/gif/loading.gif" style="position: absolute;width: 10vw;left: 50%">
</div>
