<div class="row">
  <div class="col-sm-12">
    <div class="content-header text-left">تایپوگرافی</div>
  </div>
</div>
<!-- Headings -->
<section id="html-headings-default">
  <div class="row" matchHeight="card">
    <div class="col-md-12 col-lg-6">
      <div class="card  text-left">
        <div class="card-header">
          <h4 class="card-title">عنوان های HTML <small class="text-muted">پیش فرض</small></h4>
          <p>همه عنوان های HTML<code class="highlighter-rouge">&lt;h1&gt;</code> از طریق
            <code class="highlighter-rouge">&lt;h6&gt;</code>،در دسترس هستند.</p>
        </div>
        <div class="card-body">
          <div class="card-content">
            <div class="table-responsive">
              <table class="table table-borderless mb-0">
                <tbody>
                  <tr>
                    <td>
                      <h1>H1. عنوان</h1>
                    </td>
                    <td class="type-info text-right">مثال 2rem</td>
                  </tr>
                  <tr>
                    <td>
                      <h2>H2. عنوان</h2>
                    </td>
                    <td class="type-info text-right">مثال 74rem</td>
                  </tr>
                  <tr>
                    <td>
                      <h3>H3. عنوان</h3>
                    </td>
                    <td class="type-info text-right">مثال 1.51rem</td>
                  </tr>
                  <tr>
                    <td>
                      <h4>H4. عنوان</h4>
                    </td>
                    <td class="type-info text-right">مثال 1.32rem</td>
                  </tr>
                  <tr>
                    <td>
                      <h5>H5. عنوان</h5>
                    </td>
                    <td class="type-info text-right">مثال 1.14rem</td>
                  </tr>
                  <tr>
                    <td>
                      <h6>H6. عنوان</h6>
                    </td>
                    <td class="type-info text-right">مثال 1rem</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card  text-left">
        <div class="card-header">
          <h4 class="card-title">کلاس های عنوان</h4>
          <p><code class="highlighter-rouge">.h1</code> از طریق<code class="highlighter-rouge">.h6</code> 
            کلاس ها نیز در دسترس هستند، زیرا زمانی که می خواهید با یک ظاهر فونت یک عنوان مطابقت داشته باشید، می توانید از عنصر HTML مرتبط استفاده نکنید.
          </p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-borderless mb-0">
                <tbody>
                  <tr>
                    <td>
                      <p class="h1">H1. عنوان</p>
                    </td>
                    <td class="type-info text-right">مثال 2rem</td>
                  </tr>
                  <tr>
                    <td>
                      <p class="h2">H2. عنوان</p>
                    </td>
                    <td class="type-info text-right">مثال 74rem</td>
                  </tr>
                  <tr>
                    <td>
                      <p class="h3">H3. عنوان</p>
                    </td>
                    <td class="type-info text-right">مثال 1.51rem</td>
                  </tr>
                  <tr>
                    <td>
                      <p class="h4">H4. عنوان</p>
                    </td>
                    <td class="type-info text-right">مثال 1.32rem</td>
                  </tr>
                  <tr>
                    <td>
                      <p class="h5">H5. عنوان</p>
                    </td>
                    <td class="type-info text-right">مثال 1.14rem</td>
                  </tr>
                  <tr>
                    <td>
                      <p class="h6">H6. عنوان</p>
                    </td>
                    <td class="type-info text-right">مثال 1rem</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Headings -->

<!-- Customizing headings -->
<section id="customizing-headings-default">
  <div class="row" matchHeight="card">
    <div class="col-md-12 col-lg-6">
      <div class="card  text-left">
        <div class="card-header">
          <h4 class="card-title">سرصفحه سفارشی<small class="text-muted">پیش فرض</small></h4>
          <p>از کلاسهای ابزار گنجانده شده برای نوشتن متن کوچک متن ثانوی استفاده کنید.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-borderless mb-0">
                <tbody>
                  <tr>
                    <td>
                      <h1>نمایش عنوان <small class="text-muted">متن ثانویه</small></h1>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h2>نمایش عنوان <small class="text-muted">متن ثانویه</small></h2>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h3>نمایش عنوان <small class="text-muted">متن ثانویه</small></h3>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4>نمایش عنوان <small class="text-muted">متن ثانویه</small></h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5>نمایش عنوان <small class="text-muted">متن ثانویه</small></h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h6>نمایش عنوان <small class="text-muted">متن ثانویه</small></h6>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card  text-left">
        <div class="card-header">
          <h4 class="card-title">رنگ سرآغاز</h4>
          <p>
              عناصر عنوان سنتی برای بهترین کار در گوشت محتوای صفحه طراحی شده اند. هنگامی که شما نیاز به یک عنوان به ایستادگی کردن، در نظر استفاده از یک
            <strong>display heading</strong>—یکی از سبک های بزرگ تر، کمی بیشتر احترام.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-borderless mb-0">
                <tbody>
                  <tr>
                    <td>
                      <h1 class="primary">نمایش عنوان</h1>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h2 class="success">نمایش عنوان</h2>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h3 class="info">نمایش عنوان</h3>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h4 class="warning">نمایش عنوان</h4>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5 class="danger">نمایش عنوان</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h6 class="">نمایش عنوان</h6>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Headings -->

<!-- Blockquotes basic-->
<section id="blockquotes">
  <div class="row">
    <div class="col-sm-12  text-left">
      <div class="content-header">بلاک محتوا</div>
      <p class="content-sub-header">برای اشاره به بلوک های محتوا از منبع دیگری در سند خود. بسته بندی کردن <code
          class="highlighter-rouge">&lt;blockquote class="blockquote"&gt;</code> در اطراف هر <abbr title="زبان نشانه گذاری HyperText">HTML</abbr>
          به عنوان نقل قول.</p>
    </div>
  </div>
  <div class="row" matchHeight="card">
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">بلاک محتوا <small class="text-muted">پیش فرض</small></h4>
          <p>چپ تراز پایه</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text">
              <blockquote class="blockquote">
                <p class="mb-0">طراحی فقط چیزی است که به نظر می رسد و احساس می کند. طراحی چگونگی کارکرد آن است.</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">بلاک محتوا <small class="text-muted">راست</small></h4>
          <p>اضافه کردن <code class="highlighter-rouge">.blockquote.text-right</code> برای یک  محتوای راست تراز.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text">
              <blockquote class="blockquote text-right">
                  <p class="mb-0">طراحی فقط چیزی است که به نظر می رسد و احساس می کند. طراحی چگونگی کارکرد آن است.</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Blockquotes basic -->

<!-- Naming a source -->
<section id="naming-a-source-default">
  <div class="row" matchHeight="card">
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">نام یک منبع <small class="text-muted">پیش فرض</small></h4>
          <p>اضافه کردن یک <code class="highlighter-rouge">&lt;footer class="blockquote-footer"&gt;</code>
            
            برای شناسایی منبع. نام منبع کار من را ببندید
         <code class="highlighter-rouge">&lt;cite&gt;</code>.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text">
              <blockquote class="blockquote">
                <p>
                    داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد.
                </p>
                <div class="blockquote-footer pl-0 pt-1">استیو جابز
                  <cite title="Source Title">کارآفرین</cite>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">نام یک منبع <small class="text-muted">راست</small></h4>
          <p>اضافه کردن یک <code class="highlighter-rouge">&lt;footer class="blockquote-footer"&gt;</code> برای شناسایی منبع با
            <code class="highlighter-rouge">.blockquote.text-right</code> 
            برای یک مسابقه با محتوای راست تراز.
          </p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text">
              <blockquote class="blockquote text-right">
                <p>
                    داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد.
                </p>
                <div class="blockquote-footer pt-1">استیو جابز
                  <cite title="Source Title">کارآفرین</cite>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Naming a source -->

<!-- Blockquotes styling -->
<section id="blockquotes-styling-default">
  <div class="row" matchHeight="card">
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title  text-left">متن محتوا یکنواخت <small class="text-muted">پیش فرض</small></h4>
          <p>اضافه کردن <code class="highlighter-rouge">.border-left-&#123;color&#125; .border-right-3</code> 
            کلاس های کمکی، که در آن رنگ می تواند هر رنگ از Robuts Admin باشد
            <a href="color-palettes" target="_blank">پالت رنگ</a>.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text">
              <blockquote class="blockquote border-left-primary border-left-3 pl-2">
                <p>داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد.</p>
                <div class="blockquote-footer pt-1 pl-0">استیو جابز
                  <cite title="Source Title">کارآفرین</cite>
                </div>
              </blockquote>
              <blockquote class="blockquote border-left-danger border-left-3 pl-2 mt-1">
                <p>داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد.</p>
                <div class="blockquote-footer pt-1 pl-0">استیو جابز
                  <cite title="Source Title">کارآفرین</cite>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">استایل متن محتوا <small class="text-muted">راست</small></h4>
          <p>اضافه کردن <code class="highlighter-rouge">.border-right-&#123;color&#125; .border-right-3</code> 
            کلاس های کمکی با
            <code>.blockquote.text-right</code>، که در آن رنگ می تواند هر رنگی از Robuts Admin باشد <a href="color-palettes"
              target="_blank">پالت رنگ</a>.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text">
              <blockquote class="blockquote text-right border-right-info border-right-3 pr-2">
                <p>داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد.داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد./p>
                <div class="blockquote-footer pt-1">استیو جابز
                  <cite title="Source Title">کارآفرین</cite>
                </div>
              </blockquote>
              <blockquote class="blockquote text-right border-right-success border-right-3 pr-2 mt-1">
                <p>داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد.</p>
                <div class="blockquote-footer pt-1">استیو جابز
                  <cite title="Source Title">کارآفرین</cite>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Blockquotes styling -->

<!-- Blockquotes with avatar -->
<section id="blockquotes-with-avatar">
  <div class="row" matchHeight="card">
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">متن محتوا با آواتار <small class="text-muted">پیش فرض</small></h4>
          <p>متن محتوا با نماد از شی رسانه استفاده کنید. شما می توانید نوع تصویر، تراز مرزی و سبک را سفارشی کنید.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text">
              <blockquote class="blockquote border-left-primary border-left-3 pl-2">
                <div class="media">
                  <div class="media-left">
                    <img class="media-object img-xl" src="assets/img/portrait/small/avatar-s-5.png" alt="Generic placeholder image">
                  </div>
                  <div class="media-body">
                   داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد.
                  </div>
                </div>
                <div class="blockquote-footer no-border-top pl-0 pt-1">استیو جابز
                  <cite title="Source Title">کارآفرین</cite>
                </div>
              </blockquote>
              <blockquote class="blockquote border-right-primary border-right-3 pr-2 no-border-left">
                <div class="media">
                  <div class="media-left">
                    <img class="media-object img-xl" src="assets/img/portrait/small/avatar-s-4.png" alt="Generic placeholder image">
                  </div>
                  <div class="media-body">
                   داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد.
                  </div>
                </div>
                <div class="blockquote-footer no-border-top pl-0 pt-1">استیو جابز
                  <cite title="Source Title">کارآفرین</cite>
                </div>
              </blockquote>
              <p class="mt-2  text-left">متن حتوا با مثال نمونه گرد تصویر</p>
              <blockquote class="blockquote border-left-danger border-left-3 pl-2 mt-1">
                <div class="media">
                  <div class="media-left">
                    <img class="media-object img-xl rounded-circle" src="assets/img/portrait/small/avatar-s-3.png" alt="Generic placeholder image">
                  </div>
                  <div class="media-body">
                   داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد.
                  </div>
                </div>
                <div class="blockquote-footer no-border-top pl-0 pt-1">استیو جابز
                  <cite title="Source Title">کارآفرین</cite>
                </div>
              </blockquote>
              <blockquote class="blockquote border-right-danger border-right-3 pr-2 no-border-left mt-1">
                <div class="media">
                  <div class="media-left">
                    <img class="media-object img-xl rounded-circle" src="assets/img/portrait/small/avatar-s-1.png" alt="Generic placeholder image">
                  </div>
                  <div class="media-body">
                   داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد.
                  </div>
                </div>
                <div class="blockquote-footer no-border-top pl-0 pt-1">استیو جابز
                  <cite title="Source Title">کارآفرین</cite>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">متن محتوا با اواتار<small class="text-muted">راست</small></h4>
          <p>
              به ترتیب بلوکوت ها با نماد راست قرار دارد، همچنین از شی رسانه استفاده می کند. شما می توانید نوع تصویر، تراز مرزی و سبک را سفارشی کنید.
          </p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text">
              <blockquote class="blockquote text-right border-right-info border-right-3 pr-2">
                <div class="media">
                  <div class="media-body">
                   داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد.
                  </div>
                  <div class="media-right pl-2">
                    <img class="media-object img-xl" src="assets/img/portrait/small/avatar-s-6.png" alt="Generic placeholder image">
                  </div>
                </div>
                <div class="blockquote-footer no-border-top pt-1">استیو جابز
                  <cite title="Source Title">کارآفرین</cite>
                </div>
              </blockquote>
              <blockquote class="blockquote text-right border-left-info border-left-3 pl-2 no-border-right">
                <div class="media">
                  <div class="media-body pl-1">
                   داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد.
                  </div>
                  <div class="media-right pl-2">
                    <img class="media-object img-xl" src="assets/img/portrait/small/avatar-s-7.png" alt="Generic placeholder image">
                  </div>
                </div>
                <div class="blockquote-footer no-border-top pt-1">استیو جابز
                  <cite title="Source Title">کارآفرین</cite>
                </div>
              </blockquote>
              <p class="mt-2  text-left">راست به ترتیب متن محتوا با مثال آواتار گرد تصویر</p>
              <blockquote class="blockquote text-right border-right-success border-right-3 pr-2 mt-1">
                <div class="media">
                  <div class="media-body">
                    داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد.
                  </div>
                  <div class="media-right pl-2">
                    <img class="media-object img-xl rounded-circle" src="assets/img/portrait/small/avatar-s-8.png" alt="Generic placeholder image">
                  </div>
                </div>
                <div class="blockquote-footer no-border-top pt-1">استیو جابز
                  <cite title="Source Title">کارآفرین</cite>
                </div>
              </blockquote>
              <blockquote class="blockquote text-right border-left-success border-left-3 pl-2 no-border-right mt-1">
                <div class="media">
                  <div class="media-body pl-1">
                    داشتن ثروتمندترین مرد در گورستان به من مهم نیست. رفتن به رختخواب در شب گفت: ما چیزی شگفت انگیز ساخته ایم، این چیزی است که برای من اهمیت دارد.
                  </div>
                  <div class="media-right pl-2">
                    <img class="media-object img-xl rounded-circle" src="assets/img/portrait/small/avatar-s-9.png" alt="Generic placeholder image">
                  </div>
                </div>
                <div class="blockquote-footer no-border-top pt-1">استیو جابز
                  <cite title="Source Title">کارآفرین</cite>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Blockquotes styling -->

<!-- Lists -->
<section id="lists">
  <div class="row">
    <div class="col-sm-12  text-left">
      <div class="content-header">لیست ها</div>
      <p class="content-sub-header">برای اشاره به بلوک های محتوا از منبع دیگری در سند خود. بسته بندی کردن <code
          class="highlighter-rouge">&lt;blockquote class="blockquote"&gt;</code>در اطراف هر <abbr title="HyperText Markup Language">HTML</abbr>
          به عنوان نقل قول.</p>
    </div>
  </div>
  <div class="row" matchHeight="card">
    <!-- Lists Unstyled -->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">لیست های نامعتبر</h4>
          <p>استفاده از کلاس<code>.list-unstyled</code> برای لیست ها نامعتبر پیش فرض را حذف کنید <code class="highlighter-rouge">list-style</code>
            و حاشیه سمت چپ در موارد لیست (فقط فرزندان فوری). <strong>این فقط در مورد موارد فوری کودکان لیست شده است

            </strong>، به این معنی که شما باید کلاس را برای هر لیست توشیبا اضافه کنید.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text  text-left">
              <ul class="list-unstyled">
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی 
                  <ul>
                    <li>تولید سادگی نامفهوم</li>
                    <li>تولید سادگی نامفهوم</li>
                    <li>تولید سادگی نامفهوم</li>
                    <li>تولید سادگی نامفهوم</li>
                  </ul>
                </li>
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Lists Unstyled -->
    <!-- Lists Unordered -->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">فهرست غیر ارادی <small class="text-muted">پیش فرض</small></h4>
          <p>لیستی از مواردی که در آن سفارش صریحا مهم نیست.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text  text-left">
              <ul>
                  <li>لورم ایپسوم متن ساختگی </li>
                  <li>لورم ایپسوم متن ساختگی </li>
                  <li>لورم ایپسوم متن ساختگی </li>
                  <li>لورم ایپسوم متن ساختگی </li>
                  <li>لورم ایپسوم متن ساختگی 
                    <ul>
                      <li>تولید سادگی نامفهوم</li>
                      <li>تولید سادگی نامفهوم</li>
                      <li>تولید سادگی نامفهوم</li>
                      <li>تولید سادگی نامفهوم</li>
                    </ul>
                  </li>
                  <li>لورم ایپسوم متن ساختگی </li>
                  <li>لورم ایپسوم متن ساختگی </li>
                  <li>لورم ایپسوم متن ساختگی </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Lists Unordered -->
    <!-- Lists Ordered -->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">فهرست مرتب شده است <small class="text-muted">پیش فرض</small></h4>
          <p>فهرستی از مواردی که در آن سفارش صریحا مهم است.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text  text-left">
              <ol>
                  <li>لورم ایپسوم متن ساختگی </li>
                  <li>لورم ایپسوم متن ساختگی </li>
                  <li>لورم ایپسوم متن ساختگی </li>
                  <li>لورم ایپسوم متن ساختگی </li>
                  <li>لورم ایپسوم متن ساختگی 
                    <ul>
                      <li>تولید سادگی نامفهوم</li>
                      <li>تولید سادگی نامفهوم</li>
                      <li>تولید سادگی نامفهوم</li>
                      <li>تولید سادگی نامفهوم</li>
                    </ul>
                  </li>
                  <li>لورم ایپسوم متن ساختگی </li>
                  <li>لورم ایپسوم متن ساختگی </li>
                  <li>لورم ایپسوم متن ساختگی </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Lists Ordered -->
  </div>
  <div class="row" matchHeight="card">
    <!-- Lists Unordered Circle -->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">فهرست غیر ارادی <small class="text-muted">دایره</small></h4>
          <p>استفاده از کلاس <code>.list-style-circle</code> در فهرست غیر ارادی برای اضافه کردن نقاط گلوله دایره.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text  text-left">
              <ul class="list-style-circle">
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی 
                  <ul class="list-style-circle">
                    <li>لورم ایپسوم متن ساختگی </li>
                    <li>لورم ایپسوم متن ساختگی </li>
                  </ul>
                </li>
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Lists Unordered Circle -->
    <!-- Lists Unordered Square -->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">فهرست غیر ارادی <small class="text-muted">مربع</small></h4>
          <p>استفاده از کلاس <code>.list-style-square</code>در فهرست غیر ارادی برای اضافه کردن نقاط گلوله مربعی.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text  text-left">
              <ul class="list-style-square">
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی 
                  <ul class="list-style-square">
                    <li>لورم ایپسوم متن ساختگی </li>
                    <li>لورم ایپسوم متن ساختگی </li>
                  </ul>
                </li>
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Lists Unordered Square -->
    <!-- Lists Ordered Mixed -->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">فهرست مرتب شده است<small class="text-muted">مخلوط</small></h4>
          <p>ترکیب کردن <code>.list-style-square</code> و <code>.list-style-circle</code> 
            کلاس ها در فهرست غیر ارادی برای اضافه کردن نقاط گلوله ای مربع و دایره ای.
          </p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text  text-left">
              <ul class="list-style-circle">
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی 
                  <ul class="list-style-square">
                    <li>لورم ایپسوم متن ساختگی </li>
                    <li>لورم ایپسوم متن ساختگی </li>
                  </ul>
                </li>
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Lists Ordered Mixed -->
  </div>
  <div class="row" matchHeight="card">
    <!-- Lists Ordered Type-->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">فهرست مرتب شده است <small class="text-muted">نوع</small></h4>
          <p>استفاده از کلاس <code>&lt;ol type="1|a|A|i|I"&gt;</code>
            ، Attribute type مشخص کننده نوع نشانگر برای استفاده در لیست است.
          </p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text  text-left">
              <ol type="I">
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی 
                  <ol type="I">
                    <li>لورم ایپسوم متن ساختگی </li>
                    <li>لورم ایپسوم متن ساختگی </li>
                  </ol>
                </li>
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Lists Ordered Type-->
    <!-- Lists Ordered Mixed -->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-header  text-left">
          <h4 class="card-title">فهرست مرتب شده است <small class="text-muted">مخلوط</small></h4>
          <p>شما همچنین می توانید نوع لیست دستور را مخلوط کنید، در زیر مثال I & I ترکیب نوع را نشان می دهد.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text  text-left">
              <ol type="I">
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی 
                  <ol type="i">
                    <li>لورم ایپسوم متن ساختگی </li>
                    <li>لورم ایپسوم متن ساختگی </li>
                  </ol>
                </li>
                <li>لورم ایپسوم متن ساختگی </li>
                <li>لورم ایپسوم متن ساختگی </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Lists Ordered Mixed -->
    <!-- Lists icons -->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-header text-left">
          <h4 class="card-title">لیست آیکون ها</h4>
          <p>لیست اصطلاحات با آیکون ها، استفاده کنید<code>.list-style-icons</code>
            کلاس شما می توانید از هر آیکون از انواع Apex Admin آیکون استفاده کنید.
          </p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text text-left">
              <ul class="list-style-icons">
                <li><i class="fa fa-folder-open-o"></i> لورم ایپسوم متن ساختگی </li>
                <li><i class="fa fa-folder-open-open-o"></i> لورم ایپسوم متن ساختگی 
                  <ul class="list-style-icons">
                    <li><i class="fa fa-folder-open-o"></i>لورم ایپسوم متن ساختگی </li>
                    <li><i class="fa fa-folder-open-o"></i> لورم ایپسوم متن ساختگی </li>
                  </ul>
                </li>
                <li><i class="fa fa-folder-open-o"></i> لورم ایپسوم متن ساختگی </li>
                <li><i class="fa fa-folder-open-o"></i> لورم ایپسوم متن ساختگی </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Lists icons -->
  </div>
  <div class="row" matchHeight="card">
    <!-- Inline Lists-->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-header text-left">
          <h4 class="card-title">لیست های درونی<small class="text-muted">پیش فرض</small></h4>
          <p>گلوله های لیست را حذف کنید و برخی نورها را اعمال کنید<code class="highlighter-rouge">margin</code>
            با ترکیبی از دو کلاس
            <code class="highlighter-rouge">.list-inline</code> و <code class="highlighter-rouge">.list-inline-item</code>.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text text-left">
              <ul class="list-inline">
                <li class="list-inline-item">کتاب</li>
                <li class="list-inline-item">کتاب</li>
                <li class="list-inline-item">کتاب</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inline Lists-->

    <!-- Inline Lists-->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-header text-left">
          <h4 class="card-title">لیست های درونی <small class="text-muted">مرتب شده</small></h4>
          <p>استفاده از اعداد درون خطی، الفبای و غیره ... برای لیست خط درونی.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text text-left">
              <ul class="list-inline">
                <li class="list-inline-item">1. کتاب</li>
                <li class="list-inline-item">2. کتاب</li>
                <li class="list-inline-item">3. کتاب</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inline Lists-->

    <!-- Inline Lists-->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-header text-left">
          <h4 class="card-title">لیست های درونی <small class="text-muted">با آیکون ها</small></h4>
          <p>شما همچنین می توانید از آیکون مدیریت Apex در لیست های درونی استفاده کنید.</p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text text-left">
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-eur"></i> زمان</li>
                <li class="list-inline-item"><i class="fa fa-gbp"></i> زمان</li>
                <li class="list-inline-item"><i class="fa fa-usd"></i> زمان</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inline Lists-->
  </div>
</section>
<!--/ Lists -->

<!-- Description list alignment -->
<section id="description-list-alignment">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header ">تراز لیست شرح</div>
      <p class="content-sub-header">
          اصطلاحات و توصیف ها را با استفاده از کلاس های از پیش تعریف شده سیستم شبکه (یا مخلوط های معنایی) به صورت افقی با هم تراز کنید. برای شرایط طولانی تر،
        <code class="highlighter-rouge">.text-truncate</code> 
        کلاس برای کوتاه کردن متن با یک بیضوی.
      </p>
    </div>
  </div>
  <div class="row" matchHeight="card">
    <!-- Description lists horizontal -->
    <div class="col-md-12 col-lg-8">
      <div class="card">
        <div class="card-header text-left">
          <h4 class="card-title">توضیح لیست <small class="text-muted">افقی</small></h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text text-left">
              <dl class="row">
                <dt class="col-sm-3">توضیح لیست</dt>
                <dd class="col-sm-9">فهرست توصیفی مناسب برای تعریف شرایط است.</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-3">کارایی</dt>
                <dd class="col-sm-9">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</dd>
              </dl>
              <dl class="row">
                <dd class="col-sm-9 ml-sm-auto text-right">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-3">کتاب</dt>
                <dd class="col-sm-9">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-3 text-truncate">اصطلاح خرد شده کوتاه است</dt>
                <dd class="col-sm-9">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-3">روزنامه</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">کتاب</dt>
                    <dd class="col-sm-8">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</dd>
                  </dl>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Description lists horizontal-->

    <!-- Description lists vertical-->
    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-header text-left">
          <h4 class="card-title">توضیح لیست <small class="text-muted">عمودی</small></h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text text-left">
              <dl>
                <dt>توضیح لیست</dt>
                <dd>فهرست توصیفی مناسب برای تعریف شرایط است.</dd>
                <dt>کارایی</dt>
                <dd>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                </dd>
                <dd>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</dd>
                <dt>لورم ایپسوم</dt>
                <dd>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Description lists vertical-->
  </div>
  <div class="row">
    <!-- Description lists horizontal -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header text-left">
          <h4 class="card-title">توضیح لیست <small class="text-muted">افقی</small></h4>
          <p>لیست ها را با متن راست تراز در <code>&lt;dt&gt;</code> برچسب استفاده کنید <code>.text-right</code></p>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="card-text text-left">
              <dl class="row">
                <dt class="col-sm-3 text-right">توضیح لیست</dt>
                <dd class="col-sm-9">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-3 text-right">کارایی</dt>
                <dd class="col-sm-9">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</dd>
              </dl>
              <dl class="row">
                <dd class="col-sm-9 ml-sm-auto text-right">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-3 text-right">دروازه ویتنام</dt>
                <dd class="col-sm-9">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-3 text-right text-truncate">اصطلاح خرد شده کوتاه است</dt>
                <dd class="col-sm-9">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</dd>
              </dl>
              <dl class="row">
                <dt class="col-sm-3 text-right">کتاب</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">ليست تعريف مضر</dt>
                    <dd class="col-sm-8">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</dd>
                  </dl>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Description lists horizontal-->
  </div>
</section>
