<form role="form" class="form form-horizontal" [formGroup]="forgotPasswordForm"
      (ngSubmit)="submit()">
    <div class="p-col-12 p-grid">
        <div class="p-col-3"></div>
        <div class="p-col-6 p-grid">
            <div class="p-col-12">
                <label style="float: right" for="firstandlast"
                >نام و نام خانوادگی</label>
                <input id="firstandlast" class="round form-control" readonly
                       [value]="user.firstName + ' ' + user.lastName"/>
            </div>
            <div class="p-col-12">
                <label style="float: right" for="username"
                >نام کاربری</label>
                <input id="username" class="round form-control" readonly
                       [value]="user.userName"/>
            </div>
        </div>

        <div class="p-col-3"></div>
        <div class="p-col-3"></div>
        <div class="p-col-6 p-grid">
            <div class="p-col-12">
                <label style="float: right"
                        for="password">رمز عبور جدید</label>
                <input maxlength="40" type="password" class="round form-control" id="password"
                       formControlName="password" [(ngModel)]="forgotPassowrdDto.password"/>

                <small style="text-align: right" class="form-text text-muted danger" *ngIf="!forgotPasswordForm.get('password').valid
                                &&forgotPasswordForm.get('password').errors.required
                                && (forgotPasswordForm.get('password').dirty || forgotPasswordForm.get('password').touched)">
                    این فیلد الزامی است.
                </small>
                <small style="text-align: right" class="form-text text-muted danger" *ngIf="!forgotPasswordForm.get('password').valid
                                &&forgotPasswordForm.get('password').errors.minlength
                                && (forgotPasswordForm.get('password').dirty || forgotPasswordForm.get('password').touched)">
                    {{passworderrorLength}}
                </small>
                <small style="text-align: right" class="form-text text-muted danger" *ngIf="!forgotPasswordForm.get('password').valid
                                &&forgotPasswordForm.get('password').errors.pattern && !forgotPasswordForm.get('password').errors.minlength
                                && (forgotPasswordForm.get('password').dirty || forgotPasswordForm.get('password').touched)">
                    {{passworderror}}
                </small>
            </div>
            <div class="p-col-12">
                <label style="float: right"
                >تکرار رمز عبور</label>
                <input maxlength="40" type="password" class="round form-control"
                       id="repeatPassword"
                       formControlName="repeatPassword" [(ngModel)]="forgotPassowrdDto.repeatPassword"/>

                <small style="text-align: right" class="form-text text-muted danger" *ngIf="!forgotPasswordForm.get('repeatPassword').valid
                                &&forgotPasswordForm.get('repeatPassword').errors.required
                                && (forgotPasswordForm.get('repeatPassword').dirty || forgotPasswordForm.get('repeatPassword').touched)">
                    این فیلد الزامی است.
                </small>
            </div>
        </div>
        <div class="p-col-3"></div>
    </div>
    <div class="p-col-3"></div>


    <div class="p-col-12 p-grid">
        <div class="p-col-6">
            <button class="btn btn-primary fix-back-btn"
                    (click)="closeModal()"
                    type="button">
                انصراف
                <i class="ft-arrow-right"></i>
            </button>
        </div>
        <div style="text-align: right;" class="p-col-6">
            <button style="padding-right: 6px;padding-left: 6px"
                    [disabled]="!forgotPasswordForm.valid"
                    class="btn btn-primary btn-raised"
                    type="submit">
                بازنشانی
                <i class="ft-save"></i>
            </button>
        </div>

    </div>
</form>
